h3{
    font-size: 25px !important;
}
.btn-success:hover{
    background-color: red;
}
canvas{
    animation-name: example;
    animation-duration: 3.5s;
    animation-iteration-count: infinite;
    }
body{
    background-image: url(background.png) !important;
    background-image: background !important;
}

@keyframes example{
    from {box-shadow:1px 1px 38px red ;}
    to {box-shadow: 1px 1px 38px yellow;}
}
